/* 全体反映用。 */
/* グローバルモジュールで宣言した変数はvar()で指定する */

.flexContainer {
  /* Unknown property `composes`はVScodeが認識していないだけ。スルー可 */
  composes: sideBySideCenter from "styles/utils.module.css";
}

.text {
  padding-top: calc(var(--display) * 0.5);
  padding-bottom: calc(var(--display) * 0.7);
}

.title {
  /* font-size: var(--display); */
  font-size: var(--heading4);
  font-weight: 900;
  letter-spacing: 0.15em;

    /* ロゴのフォント */
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* font-size:large; */
}

.subtitle {
  font-size: var(--small-heading2);

  /* ヨモギフォント */
  font-family: "Yomogi", cursive;
  font-weight: 400;
  font-style: normal;


}

/* image */
/* 親要素のサイズ指定を打ち消す用 */
.image {
    width: 100%;
}

@media (min-width: 768px) {
    .image {
        width: 50%;
    }
}